* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "nssans",Segoe UI,Myriad,Verdana,sans-serif;
}

:root {
  --primary-color-1: #ffc917;
  --primary-color-2: #003082;
  --primary-color-3: #0063d3;
  --primary-color-4: #fff;

  /* The first grey is used for body text and the main grey colour within NS. 
    All grey colours are based on that grey as a percentage and converted to HEX value.  */
  --grey-bodytext: #070721;
  --grey-10: #202037;
  --grey-20: #39394d;
  --grey-30: #515164;
  --grey-40: #6a6a7a;
  --grey-50: #838390;
  --grey-60: #9c9ca6;
  --grey-70: #b5b5bc;
  --grey-80: #cdcdd3;
  --grey-background: #e6e6e9;
  --grey-94: #f0f0f2;

  --alert-error-red: #db0029;
  --succes-green: #009a42;

  --text-link: #0079d3;
  --button-hover-blue: #005ca0;
  --button-hover-yellow: #ffb519;

  --heading-color: #003082;

  /* transparent colors */

  --grey-alhpa-60: rgba(7, 7, 33, 0.6);
  --grey-alpha-15: rgba(7, 7, 33, 0.15);
  --grey-alpha-10: rgba(7, 7, 33, 0.1);

  /* font-sizes */
  --heading-l-mobile: 28px;
  --heading-m-mobile: 20px;
  --heading-s-mobile: 18px;
  --default-text: 1em;

  --heading-l-desktop: 30px;
  --heading-m-desktop: 24px;
  --heading-s-desktop: 25px;

  --toggle-bg: #ddd;
  --toggle-circle: #fff;
}

html:has(#darkmode:checked) {
  --grey-bodytext: #fff;
  --grey-background: #292929;
  --toggle-bg: #333;
  --toggle-circle: #ff0;
  --primary-color-4: gray;
  --primary-color-2: #003082;
}

#darkmode {
  display: none;
}


.wrapper {
  width: clamp(2em, 100%, 73.25em);
  justify-self: center;
}

main {
  background: var(--grey-background);
}
p {
  letter-spacing: 0.3px;
  color: var(--default-text);
  width: clamp(2rem, 100%, 58rem);
}

:is(h1, h2, h3, h4) {
  color: var(--heading-color);
  font-size: var(--heading-l-desktop);
}
:is(ol, ul, li) {
  list-style: none;
}

a {
  display: none;
  gap: 0.5rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--text-link);

  &:hover {
    text-decoration: underline 2px;
  }
}

header {
  display: grid;

  nav {
    display: grid;
    background: var(--primary-color-4);
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      color: var(--grey-bodytext);

      svg {
        fill: #003082;
        height: 25px;
        width: 64px;
      }
      svg:hover {
        fill: #ffc700;
        cursor: pointer;
      }

      p {
        font-size: 18px;
      }

        /* Toggle button styling */
    .toggle {
      width: 50px;
      height: 25px;
      background: var(--toggle-bg);
      display: block;
      border-radius: 25px;
      position: relative;
      cursor: pointer;
    }

    .toggle::after {
      content: "";
      width: 20px;
      height: 20px;
      background: var(--toggle-circle);
      position: absolute;
      top: 2.5px;
      left: 3px;
      border-radius: 50%;
      transition: 0.3s;
    }

      /* Positie aanpassen in dark mode */
      &:has(input:checked) .toggle::after {
        left: 27px;
    }

      input {
        display: none;
      }
    }
  }

  section:first-of-type {
    background: var(--grey-background);
    display: grid;
    div {
      display: flex;
      align-items: center;
      padding: 0px 20px;

      p {
        font-size: 12px;
        font-weight: bold;
        text-transform: lowercase;
        color: var(--alert-error-red);
      }
    }
  }

  section:nth-of-type(2) {
    display: grid;
    background: linear-gradient(
      to bottom,
      var(--primary-color-1) 80%,
      transparent 0
    );
    p > span:last-of-type {
      color: var(--alert-error-red);
    }
    > div {
      display: grid;
      gap: 1rem;
      padding: 2rem 20px;

      p:last-of-type{
        margin-bottom: 2rem;
      }

      > div {
        display: grid;
        height: max-content;
        width: clamp(2em, 100%, 60em);
        justify-self: center;
        position: relative;
        > img {
          height: 20rem;
          width: 100%;
          object-fit: cover;
        }

        &::after {
          position: absolute;
          content: "";
          height: 100%;
          width: 100%;
          background: linear-gradient(to top, #00000082 5%, transparent);
        }
      }
    }
  }
}

fieldset {
  border: none;
}
form {
  padding: 10px 20px;
  display: grid;
  gap: 3rem;
  color: var(--grey-bodytext);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input:not([type="radio"]):not([type="file"]):not([type=checkbox]) {
  background-color: #fff;
  color: #003082;
  font-weight: 700;
  height: 2.8125rem;
  line-height: 1.5625rem;
  padding: 0.6875rem 1rem 0.5625rem 1rem;
  border-radius: 0.25em;
  border: 0.0625rem solid #cdcdd3;
  transition: all 0.1s cubic-bezier(0.7, 0.27, 0.27, 1);
  cursor: pointer;

  &:hover {
    border-color: var(--grey-50);
  }

  &:not([type="date"]):not(:placeholder-shown):not([type="submit"]) {
    border-left: 5px solid var(--succes-green);
  }

  &:not([type="date"]):not(:placeholder-shown):invalid {
    border-left: 5px solid var(--alert-error-red);
  }

  &:focus {
    outline: none;
    background: var(--primary-color-4);
    border-radius: 0.25em;
    border: solid 2px var(--primary-color-3);
    box-shadow: 0 0 1px var(--primary-color-3), 0 2px 28px black, 0.1;
  }

  &:not(:focus):hover {
    border-color: var(--grey-50);
  }
}

label {
  position: relative;
  img,
  svg {
    display: none;
    position: absolute;
    right: 0;
  }

  &:has([type="text"]:not(:placeholder-shown):invalid) {
    img,
    svg {
      display: block;
      z-index: 2;
    }
  }
  &:has(input:not(:placeholder-shown):invalid):hover {
    .popover {
      visibility: visible;
    }
  }
}

label:has([type="radio"]:checked)::after {
  transform: scale(1);
}

label:has([type="radio"]:focus)::before {
  border: 0.0625rem solid var(--primary-color-3);
  box-shadow: inset 0px 0px 0 1px var(--primary-color-3);
}

label:has([type="radio"]:hover:not(:checked))::before {
  border-color: var(--grey-40);
}

label:has([type="radio"]) {
  position: relative;
  cursor: pointer;
  display: flex;
  padding-left: 1.75rem;

  &:first-of-type {
    display: flex;
    gap: 1rem;

    &:has(input:checked) {
      .volgende {
        display: block;
      }
      a {
        display: flex;
      }
    }
  }
  input {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    height: 1rem;
    margin: 0;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  &::before {
    background: #fff;
    border: 0.0625rem solid var(--grey-60);
    border-radius: 50%;
    content: "";
    cursor: pointer;
    height: 1rem;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    transition: all 0.2s cubic-bezier(0.7, 0.27, 0.27, 1);
    width: 1rem;
  }

  &::after {
    background: var(--succes-green);
    border-radius: 50%;
    content: "";
    cursor: pointer;
    display: block;
    height: 0.625rem;
    left: 0.255rem;
    line-height: 0;
    padding: 0;
    position: absolute;
    top: 0.25rem;
    transform: scale(0);
    transition: all 0.3s cubic-bezier(0.7, 0.27, 0.27, 1);
    width: 0.625rem;
  }
}

form label:has([type="checkbox"]:checked)::before{
    background-color: #00aa89;
    border-color: transparent;
}
form label:has([type="checkbox"]:checked)::after{
transform: scale(1) rotate(-45deg);
}

form label:has([type="checkbox"]){
    cursor: pointer;
    position: relative;
    display: flex;
    gap: 2rem;

    input{
        clip-path: polygon(0 0,0 0,0 0,0 0);
        height: 1rem;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        width: 1px;
    }

    &::before{
        background: transparent;
        border: .0625rem solid #cdcdd3;
        border-radius: .125rem;
        content: "";
        cursor: pointer;
        height: 1rem;
        left: 0;
        position: absolute;
        top: .125rem;
        transition: all .2s cubic-bezier(.7,.27,.27,1);
        width: 1rem;
    }

    &::after{
        border: .1875rem solid #fff;
        border-top-width: 0.1875rem;
        border-top-style: solid;
        border-top-color: rgb(255, 255, 255);
        border-right-width: 0.1875rem;
        border-right-style: solid;
        border-right-color: rgb(255, 255, 255);
        border-radius: 2px;
        border-right: none;
        border-top: none;
        content: "";
        height: .3rem;
        left: .3125rem;
        position: absolute;
        top: .5rem;
        -webkit-transform: scale(0) rotate(-45deg);
        transform: scale(0) rotate(-45deg);
        -webkit-transform-origin: 30% 70%;
        transform-origin: 21% 80%;
        transition: all .3s cubic-bezier(.7,.27,.27,1);
        width: .675rem;
    }
  }


.popover {
  width: clamp(5rem, 100%, 25rem);
  height: auto;
  position: absolute;
  background: var(--primary-color-4);
  border: 2px solid var(--primary-color-3);
  color: var(--default-text);
  bottom: -6vh;
  z-index: 100;
  visibility: hidden;
  padding: 0.5rem;
  right: 0;
}

form > fieldset {
  background: var(--primary-color-4);
  display: grid;
  gap: 2rem;
  padding: 2rem;
  border-radius: 0.5rem;

  > fieldset {
    > legend {
      margin-bottom: 0.5rem;
      border-bottom: 2px solid var(--primary-color-2);
      color: var(--primary-color-2);
      font-weight: bold;
      padding: 2px;
    }
  }
}

form>fieldset{
  > div{
    display: flex;
    justify-content: flex-end;
    ul{
      display: flex;
      gap: 1rem;
      button{
        padding: .5rem 1rem;
        border: 1px solid var(--primary-color-2);
        background: white;
        border-radius: .25rem;
        cursor: pointer;

        &:hover{
          background: var(--button-hover-yellow);
          color: white;
          border: none;
        }
      }
    }
  }
}


form > fieldset:first-of-type {
  container-type: inline-size;
  container-name: --container-1a;

  > fieldset:not(:first-of-type) {
    margin-top: 2em;
  }

  > fieldset:first-of-type {
    ul {
      display: grid;
      gap: 1rem;

      li {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        label {
          position: relative;
        }

        > label {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          gap: 0.5rem;
        }

        &:nth-child(1) {
          grid-area: naam;
        }

        &:nth-child(2) {
          grid-area: b;
          width: 2px;
          height: 100%;
          background: var(--grey-background);
          justify-self: center;
        }

        &:nth-child(3) {
          grid-area: bsn;
          .popover {
            bottom: -4.5vh;
          }
        }

        &:nth-child(4) {
          grid-area: od;
          justify-content: space-between;
          align-items: center;
          p {
            width: auto;
          }

          input {
            width: 12.5rem;
          }
        }
      }
    }
  }

  > fieldset:nth-of-type(2) {
    display: grid;
    gap: 1rem;

    > fieldset {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      flex-wrap: wrap;

      > legend {
        padding: 1rem 0 1rem 0;
        color: var(--default-text);
      }
    }

    &:has(#ja-1b-1:checked) fieldset:not(:nth-of-type(1)) {
      display: grid;
    }

    fieldset:not(:first-of-type) {
      display: none;
    }

    .akte-file {
      display: none;
    }

    &:has(#ja-1b-2:checked) .akte-file {
      display: block;
    }
  }

  > fieldset:nth-of-type(3) {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &:has(#ja-1c-1:checked) .vraag-1c {
      display: grid;
    }

    > fieldset {
      legend {
        padding: 1rem 0 1rem 0;
        margin-bottom: 1rem;
      }

      &:nth-of-type(1) {
        display: grid;
        gap: 1rem;
      }

      &:first-of-type > label {
        display: flex;
        gap: 1rem;
        &:first-of-type:has(:checked) a {
          display: block;
        }
      }
    }

    > fieldset:nth-of-type(2) {
      display: none;
      gap: 1rem;

      label {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;

        &:first-child {
          grid-area: pn;
        }

        &:nth-of-type(2) {
          grid-area: vp;
        }

        &:nth-of-type(3) {
          grid-area: dtm;
          > p {
            width: clamp(12em, 20vw, 14em);
            letter-spacing: 0;
          }
        }
        &:last-of-type {
          gap: 1rem;
        }

        .popover {
          bottom: -7.7vh;
        }
      }
      > div:first-of-type {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1rem;
        grid-area: nm;

        label {
          input {
            position: relative;
          }
        }
      }

      div:nth-of-type(2) {
        grid-area: p;
        width: 2px;
        height: 100%;
        background: var(--grey-background);
        justify-self: center;
      }
      input[type="date"] {
        min-width: 12.5rem;
      }
    }
  }
}

.volgende {
  width: 20px;
  height: 20px;
  position: initial;
}

form > fieldset:nth-of-type(2) {
  p {
    width: 100%;
  }
  > fieldset:nth-of-type(2){
    p{
        margin-bottom: 1rem;
    }
  }
  fieldset:nth-of-type(1) {
    display: grid;
    gap: 1rem;

    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      li {
        display: grid;
        gap: 1rem;

        label {
          width: max-content;

          .popover {
            bottom: -11vh;
          }
        }
      }
    }
  }

  fieldset:nth-of-type(2) {
    > ul {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto auto;
      grid-template-areas:
        "c1 c4 c2"
        "c1 c4 c3";
      gap: 5rem;

      > li {
        display: flex;
        flex-direction: column;

        &:first-of-type {
          gap: 1rem;
          grid-area: c1;
        }

        &:nth-of-type(2) {
          grid-area: c2;
          justify-self: flex-start;
        }

        &:nth-of-type(3) {
          grid-area: c3;
          justify-self: flex-start;
        }

        &:last-of-type {
          grid-area: c4;
          height: 100%;
          width: 2px;
          background-color: var(--grey-background);
          justify-self: center;
        }
        label {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 1rem;
          flex-wrap: wrap;
        }

        > fieldset > legend {
          font-weight: bold;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

form > fieldset:nth-of-type(3) {
  > fieldset {
    display: grid;
    gap: 2rem;
    > fieldset:nth-of-type(1) {
      display: grid;
      gap: 1rem;
      > legend {
        margin-bottom: 1rem;
        > span{
            font-weight: bold;
        }
      }
      > p {
        font-weight: bold;
        width: 100%;
      }
    }

    > fieldset {
      > p {
        display: none;
      }
      &:has(#v3-ja:checked) > p {
        display: block;
      }
    }

    &:has(#v3-ja:checked) > fieldset:nth-of-type(2) {
      display: block;
    }

    /* , [type=radio]:checked */
    > fieldset:nth-of-type(n + 2):has([type="text"]:not(:placeholder-shown))
      + fieldset {
      display: block;
    }

    &:has(#v3-nee:checked) > fieldset:nth-of-type(n + 2) {
      display: none;
    }

    > fieldset:nth-of-type(n + 2) {
      display: none;
    }

    > fieldset:not(:first-of-type) {
      padding: 2rem;
      border-radius: 1rem;
      border: solid 1px var(--primary-color-1);

      legend {
        margin-bottom: 1rem;
      }
      > legend {
        text-transform: capitalize;
        color: var(--primary-color-2);
        font-weight: bold;
        padding: 1rem;
        margin-bottom: 0rem;
      }

      label:has([type="text"]) {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      ul {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 5rem 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
          "v3-2 v3-5 v3-3"
          "v3-1 v3-5 v3-4";
        li {
          display: grid;
          gap: 1rem;

          > fieldset {
            display: grid;
            gap: 1rem;
          }

          &:nth-child(1) {
            grid-area: v3-1;
          }
          &:nth-child(2) {
            grid-area: v3-2;
          }
          &:nth-child(3) {
            grid-area: v3-3;
            > fieldset {
              display: flex;
              flex-direction: column;
              gap: 1rem;
            }
          }
          &:nth-child(4) {
            grid-area: v3-4;
          }
          &:nth-child(5) {
            grid-area: v3-5;
            height: 100%;
            width: 2px;
            background-color: var(--grey-background);
            justify-self: center;
          }
        }
      }
    }
  }

}

.v2a-1 {
  li:has([type="radio"]:not(:checked)) {
    label:nth-child(2) {
      display: none;
    }
  }
}

@container --container-1a (inline-size > 40em) {
  fieldset > ul {
    grid-template-columns: 1fr 5rem 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "naam b bsn"
      "naam b od";
  }

  .vraag-1c {
    grid-template-columns: 1fr 5em 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas:
      "pn p vp"
      "nm p dtm"
      "nm p v";
  }
}

@container --container-1a (inline-size < 40em) {
  fieldset > ul {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
    grid-template-areas:
      "naam"
      "bsn"
      "od";

    li:nth-child(2) {
      display: none;
    }
  }

  .vraag-1c {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "pn"
      "nm"
      "vp"
      "dtm";
  }
}

@media (max-width: 400px) {
  form {
    padding: 10px 10px;
  }
  :is(h1, h2, h3, h4) {
    color: var(--heading-color);
    font-size: var(--heading-l-mobile);
  }

  form > fieldset:first-of-type {
    & > fieldset:first-of-type {
      & ul {
        & li {
          > label {
            flex-direction: column;
          }
          &:nth-of-type(3) {
            .popover {
              bottom: -11.1vh;
            }
          }
          > label {
            flex-direction: column;
            align-items: initial;

            .popover {
              bottom: -6.9vh;
            }
          }
        }
      }
    }
  }

  form > fieldset:first-of-type {
    & > fieldset:nth-of-type(3) {
      &:has(#ja-1c-1:checked) .vraag-1c {
        display: flex;
        flex-direction: column;
      }
    }
  }

  form > fieldset:first-of-type {
    & > fieldset:nth-of-type(3) {
      & > fieldset:nth-of-type(2) {
        > label {
          .popover {
            bottom: -11.2vh;
          }
        }

        > div {
          .popover {
            bottom: -9vh;
          }
        }
        label {
          display: flex;
          flex-direction: column;
          align-items: initial;
        }
      }
    }
  }

  form > fieldset {
    padding: 1rem;
  }

  .popover {
    left: 0;
    min-width: 5em;
  }

  label {
    img,
    svg {
      bottom: 0.5rem;
    }
  }

  fieldset:nth-of-type(2) {
    > ul {
      display: flex;
      flex-direction: column;
    }
  }

  form > fieldset:nth-of-type(2) {
    & fieldset:nth-of-type(2) {
      & > ul {
        & li {
          label {
            flex-direction: column;
            align-items: initial;
          }
        }
      }
    }
  }

  form > fieldset:nth-of-type(3) {
    > fieldset {
      > fieldset:not(:first-of-type) {
        padding: 1rem;

        label:has([type="text"]) {
          flex-direction: column;
          align-items: initial;
          gap: 1rem;
        }
        ul {
          display: flex;
          flex-direction: column;
        }

        li:last-of-type {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  form > fieldset:nth-of-type(2) {
    > fieldset:nth-of-type(2) {
      > ul {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
